body {
	background-color: #623843;
}

#languages {

	margin-left: 10px;
	color: #EEE;
	font-size: 12px;
}

h2 {
	color: #EEEEEE;
	text-align: center;
}

h4 {
	color: #EEE;
	margin-top: 50px;
	margin-bottom: -50px;
	text-align: center;
}

#parametri {
	background-color: rgba(225,255,255,0.0);
	position: fixed;
	width: 550px;
	height: 140px;
	margin-left: 40px;
	margin-top: -40px;
	box-shadow: none;
}

#parametri ol {
	list-style-type: none;
	margin-left: -15px;
}

#parametri li {
	margin: 0 auto;
	margin-top: 5px;
	font-size: 20px;
	color: #DDA;
}

div {
	width: 580px;
	height: 250px;
	background-color: rgba(215,130,80,0.2);
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 150px;
	border-radius: 10px;
}

div img {
	height: 250px;
	width: 250px;
	display: inline-block;
	border-radius: 125px;
	box-shadow: 0px 0px 40px 7px #301010;
}

div p {
	text-align: center;
	color: #500;
}

p {
	color: #EEE;
	text-align: center;
	font-size: 18px;
}

#sceltaciboP, #Cervovivo, .roma, #risposte, #intro, #animalupdated, #vg, #parte2 h6, #cleverpath, #parte2, .cibo1, #parte3 {
	display: none;
}

#sceltaciboP {
	margin-bottom: 50px;
	height: 500px;
}

span a #deer, span a #mushrooms {
	margin-bottom: 15px;
}

.col-md-6 {
	height: 380px;
}

.col-md-6 ol {
	text-align: center;
	list-style-type: none;
	color: #EEE;
	display: none;
}

#Cervovivo {
	height: 550px;
}

#Cervovivo #cervo {
	margin-left: 165px;
	margin-bottom: 20px;
}

form {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

form input {
	width: 250px;
}

button {
	text-align: center;
	margin-top: 20px;
}

#VeganWay {
	width: 800px;
	height: 205px;
	margin-top: 120px;
	margin-bottom: 40px;
	display: none;
}

.roma {
	width: 900px;
	height: 450px;
}

.col-md-4 {
	width: 300px;
	height: 350px;
	text-align: center;
}

#vg {
	color: #EEE;
	list-style-type: none;
	margin-top: 15px;
}

#risposte {
	height: 100px;
}

#animalupdated img {
	margin-left: 175px;
}

#orso, #mushrooms {
	float: right;
}

#parte2 , #parte3 {
	text-align: center;
	height: 850px;
}

#parte3 ol {
	list-style-type: none;
}

#parte2 h3 {
	margin-top: 50px;
	margin-bottom: 20px;
	color: #DDD;
}

#parte2 img {
	margin-bottom: 50px;
}

#parte3 img {
	margin: 15px 15px 15px 15px;
}

#parte2 h6 {
	margin-bottom: 30px;
	color: #EEE;
	font-size: 20px;
}

#rf2 {
	float: right;
}