body {

	background-color: #6C6C6C;
}

img {

	width: 8%;
	margin-top: 200px;
}

body div {

	background-color: #222;
	height: 300px;
}

h1 {
	font-family: "Edit Undo Line BRK";
	font-size: 70px;
	margin-left: 20px;
	color: #A00;
}